.btn-circle-lg {
  border: none;
  outline: none !important;
  overflow: hidden;
  width: 110px;
  height: 110px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  border-radius: 50% !important;
  }